/* ---------------- Base Layout ---------------- */
body {
  background-color: #faf8f4;
}

.site-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  height: 100%;
  width: 1281px;
}
.site-container a {
  color: #70492d;
}
.content {
  display: flex;
  flex-basis: 100%;
}

header {
  background-color: #ffff;
  width: 100%;
  min-height: 110px;
}

footer {
  background-color: #ffff;
}

aside {
  flex-basis: 20%;
}
