/* -------------------Main------------------- */
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.navigation a {
  color: #65a526;
  font-size: 16px;
}
.information_title {
  color: #4d2c15;
  font-size: 26px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  padding-bottom: 35px;
}
.card_top {
  display: flex;
  gap: 40px;
}
.product_images {
  display: grid;
  max-width: 287px;
  grid-auto-columns: 1fr;
  grid-template-columns: 60px 60px;
  gap: 15px 5px;
  grid-template-areas:
    "big-img big-img big-img big-img"
    ". . . .";
}

.product_images img:first-child {
  width: 287px;
  height: 287px;
  grid-area: big-img;
}
.product_images img {
  width: 60px;
  height: 60px;
}

.product_characteristic {
  display: flex;
  color: #8d704e;
  gap: 20px;
  font-size: 14px;
}
.product_characteristic li {
  padding-bottom: 10px;
}
.product_characteristic li:last-child select {
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.438);

  width: 140px;
  height: 25px;
}
/* Counter */

.product_count {
  display: flex;
  gap: 50px;
}

#counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: rgba(128, 128, 128, 0.918) 1px solid;
  border-left: none;
  border-right: none;
  background: #fff;
  height: 30px;
  width: 100px;
}
#buttonCountNumber {
}
#counter input {
  border: rgba(128, 128, 128, 0.918) 1px solid;
  color: #65a526;
  background: #fff;
  width: 23px;
  height: 30px;
}
#counter input:hover {
  background: #65a526;
  color: #fff;
}
/* ------------------- */
.product_count {
  display: flex;
  align-items: flex-start;
}
.price_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.price {
  color: #65a526;
  font-family: "Roboto Slab", sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}
.product_buy {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.product_buy a {
  text-decoration: underline dashed;
  color: #65a526;
}
.product_button {
  display: flex;
  align-items: center;
  background-color: #65a526;
  color: #fff;
  gap: 4px;
  font-weight: 700;
  font-size: 20px;
  padding: 6px 15px;
}

.product_advantages h4 {
  color: #000;
  margin: 37px 0 10px;
  font-size: 18px;
  font-family: "Roboto Slab", sans-serif;
}
.product_advantages p {
  font-size: 14px;
  max-width: 350px;
}
/* product full info*/
.full-info_header {
  display: flex;
  gap: 15px;
}
.full-info_tab:first-child {
  color: #4d2c15;
}
.full-info_tab {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  color: #8d704e;
  padding: 10px 15px;
  border: 1px solid rgba(128, 128, 128, 0.438);
  border-bottom: none;
}
.full-info_tab:hover {
  background-color: #65a526;
  cursor: pointer;
  color: #fff;
}
.full-info_field {
  padding: 15px 30px 26px;
  border: 1px solid rgba(128, 128, 128, 0.438);
  background-color: #ffff;
  line-height: 30px;
}

.full-info_field p {
  color: #70492d;
  font-size: 16px;
  padding: 10px 0;
}
.full-info_field ul li {
  font-size: 16px;
  margin: 10px 0 0 35px;
  color: #4d2c15;
  list-style: disc;
}

/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -----------Simular Products----------------- */
.simular_products a {
  color: #65a526;
}
.simular_head {
  font-family: "Roboto Slab", sans-serif;
  font-size: 30px;
  color: #70492d;
  padding-bottom: 20px;
}
.simular_products-container {
  display: flex;
  gap: 20px;
}
.simular_products-item {
  display: flex;
  flex-direction: column;

  max-width: 227px;
  padding: 5px;
  gap: 14px;
}
.simular_products-item img {
  width: 217.69px;
  height: 217.69px;
}
.item_name {
  font-size: 16px;
}
.item_color {
}

.item_price {
  font-family: "Roboto Slab", sans-serif;
  font-size: 30px;
  color: #70492d;

  color: #4d9500;
}

.item_buy {
  display: flex;
  font-size: 14px;
  white-space: nowrap;
  gap: 30%;
}
/* ------------Simular Products---------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
